* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
}

p {
  margin: 0;
}
