@import "./media";

.container {
  width: $x-large-container;
  margin-inline: auto;

  @include x-small {
    width: $x-small-container;
  }

  @include small {
    width: $small-container;
  }

  @include medium {
    width: $medium-container;
  }

  @include large {
    width: $large-container;
  }

  @include x-large {
    width: $x-large-container;
  }
}

.padding {
  @include x-small {
    padding: 15px 0;
  }

  @include medium {
    padding: 20px 0;
  }
  @include large {
    padding: 25px 0;
  }
}
